<div class="row">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="row search">
  <div class="medium-10 columns">
    <div class="small-5">
      <div class="row">
        <div class="small-3 columns">
          <label for="search" class="right inline">Search</label>
        </div>
        <div class="small-9 columns">
          <input type="text"
                   id="search"
          placeholder="Search query..."
             ng-model="query">
        </div>
      </div>
    </div>
  </div>
  <div class="medium-2 columns">
    <a ng-click="sync()" class="button right">Sync</a>
  </div>
</div>
<div class="row">
  <table class="attendees">
    <thead>
      <tr>
        <th>Last</th>
        <th>First</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Barcode</th>
        <th>Title</th>
        <th>Check In</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="attendee in paginatedAttendees">
      <td>{{attendee.lastName}}</td>
      <td>{{attendee.firstName}}</td>
      <td>{{attendee.gender}}</td>
      <td>{{attendee.email}}</td>
      <td>{{attendee.barcode}}</td>
      <td>{{attendee.title}}</td>
      <td ng-if="!attendee.checkedIn">
        <a ng-click="checkIn(attendee)">Check In</a>
      </td>
      <td ng-if="attendee.checkedIn">
        Checked In (<a ng-click="checkIn(attendee)">Reprint</a>)
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <pagination boundary-links="true"
                 total-items="filteredAttendees.length"
              items-per-page="pageSize"
                        page="currentPage"
                    max-size="maxPaginationButtons"
                       class="pagination-sm"
               previous-text="&lsaquo;"
                   next-text="&rsaquo;"
                  first-text="&laquo;"
                   last-text="&raquo;"></pagination>
</div>
